h1 {
  color: inherit;
  text-align: justify;
  text-decoration: underline;
}
body {
  background-color: gray;
  background-image: image(https://media.giphy.com/media/3o7qDQNEs2CtC5AkZW/giphy.gif);
}
button{
  color: blue;
  shape-outside: padding-box;

}
external
.tittle{
  font-style: italic;
  font-size: 12px;
}
.important{
  color: white;
}
.image{
  float: right;
}
